.idea/
.env
**/__pycache__
**/.ipynb_checkpoints
**/.DS_Store


article_scraping/paper_data
article_scraping/all_sites.json

classifier/**/
classifier/all_papers.py

tagtog/**/

rough/
bangladesh_flood_venv/

nytimes_articles